import nessasary modules

In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn
seaborn.set()

load the data

In [135]:
data=pd.read_csv("train.csv")
data.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

describing the data

In [136]:
data.describe()

,id,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,165034.0000,1.650340e+05,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000
mean,82516.5000,1.569201e+07,656.454373,38.125888,5.020353,55478.086689,1.554455,0.753954,0.497770,112574.822734,0.211599
std,47641.3565,7.139782e+04,80.103340,8.867205,2.806159,62817.663278,0.547154,0.430707,0.499997,50292.865585,0.408443
min,0.0000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,41258.2500,1.563314e+07,597.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,74637.570000,0.000000
50%,82516.5000,1.569017e+07,659.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,117948.000000,0.000000
75%,123774.7500,1.575682e+07,710.000000,42.000000,7.000000,119939.517500,2.000000,1.000000,1.000000,155152.467500,0.000000
max,165033.0000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

independent and dependent variable

In [137]:
data["Gender"]=data["Gender"].map({"Male": 1,"Female":0})

In [138]:
X=data[["CreditScore","Age","Gender","Tenure","Balance","NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary"]]
y=data["Exited"]

In [139]:
X=np.array(X)
y=np.array(y)

In [140]:
data.describe()

,id,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,165034.0000,1.650340e+05,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000
mean,82516.5000,1.569201e+07,656.454373,0.564429,38.125888,5.020353,55478.086689,1.554455,0.753954,0.497770,112574.822734,0.211599
std,47641.3565,7.139782e+04,80.103340,0.495833,8.867205,2.806159,62817.663278,0.547154,0.430707,0.499997,50292.865585,0.408443
min,0.0000,1.556570e+07,350.000000,0.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,41258.2500,1.563314e+07,597.000000,0.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,74637.570000,0.000000
50%,82516.5000,1.569017e+07,659.000000,1.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,117948.000000,0.000000
75%,123774.7500,1.575682e+07,710.000000,1.000000,42.000000,7.000000,119939.517500,2.000000,1.000000,1.000000,155152.467500,0.000000
max,165033.0000,1.581569e+07,850.000000,1.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [141]:
X=sm.add_constant(X)
results=sm.OLS(y,X).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.207
Model:                            OLS   Adj. R-squared:                  0.207
Method:                 Least Squares   F-statistic:                     4789.
Date:                Wed, 03 Jan 2024   Prob (F-statistic):               0.00
Time:                        17:18:23   Log-Likelihood:                -67252.
No. Observations:              165034   AIC:                         1.345e+05
Df Residuals:                  165024   BIC:                         1.346e+05
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0299      0.010      3.112      0.002       0.011       0.049
x1            -0.0001   1.12e-05     -9.101      0.000      -0.000   -7.98e-05
x2             0.0145      0.000    142.556      0.000       0.014       0.015
x3            -0.0944      0.002    -52.151      0.000      -0.098      -0.091
x4            -0.0021      0.000     -6.642      0.000      -0.003      -0.001
x5          3.182e-07   1.53e-08     20.807      0.000    2.88e-07    3.48e-07
x6            -0.1144      0.002    -64.891      0.000      -0.118      -0.111
x7            -0.0191      0.002     -9.173      0.000      -0.023      -0.015
x8            -0.1639      0.002    -91.384      0.000      -0.167      -0.160
x9          1.381e-07   1.78e-08      7.756      0.000    1.03e-07    1.73e-07
==============================================================================
Omnibus:                    20282.540   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            28779.431
Skew:                           1.018   Prob(JB):                         0.00
Kurtosis:                       3.208   Cond. No.                     1.47e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.47e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

exploring the data

In [142]:
testData=pd.read_csv("test.csv")

In [143]:
testData["Gender"]=testData["Gender"].map({"Male": 1,"Female":0})

In [144]:
data1=testData[["CreditScore","Age","Gender","Tenure","Balance","NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary"]]
data1=sm.add_constant(data1)
data1.head()

,const,CreditScore,Age,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,586,23.0,0,2,0.00,2,0.0,1.0,160976.75
1,1.0,683,46.0,0,2,0.00,1,1.0,0.0,72549.27
2,1.0,656,34.0,0,7,0.00,2,1.0,0.0,138882.09
3,1.0,681,36.0,1,8,0.00,1,1.0,0.0,113931.57
4,1.0,752,38.0,1,10,121263.62,1,1.0,0.0,139431.00

In [145]:
predictions=results.predict(data1)
id=testData["id"]

In [147]:
result_df = pd.DataFrame({"id": id, "Excited": predictions})
result_df.to_csv('submission.csv', index=False)